# Result View

In [3]:
DATA_PATH = "../output/data"
ALGO = ["mlr", "mpr", "lstm", "gru"]

In [4]:
from pathlib import Path
from pandas import DataFrame, read_csv
from IPython.display import display

In [5]:
DATA_PATH = Path(DATA_PATH).resolve()

In [6]:
comps = {
    "algorithm": [],
    "avg_mae": [],
    "avg_mse": [],
    "avg_rmse": [],
    "avg_r2": []
}

for algo in ALGO:
    data = read_csv(DATA_PATH / algo / "results.csv")
    
    comps["algorithm"].append(algo.upper())
    comps["avg_mae"].append(data["mae"].mean())
    comps["avg_mse"].append(data["mse"].mean())
    comps["avg_rmse"].append(data["rmse"].mean())
    comps["avg_r2"].append(data["r2"].mean())

    print(algo.upper())
    data.sort_values("mse", inplace=True)
    display(data.round(3))
    print()

MLR

                              station    mae    mse   rmse     r2
8       แม่น้ำท่าจีน บางเลน 2558-2563  0.112  0.023  0.150  0.752
7   แม่น้ำท่าจีน กระทุ่มแบน 2558-2563  0.113  0.026  0.161  0.090
9   แม่น้ำท่าจีน สองพี่น้อง 2558-2563  0.186  0.053  0.230  0.548
16           น่าน อุตรดิตถ์ 2558-2563  0.194  0.068  0.261  0.267
15            ปิง กำแพงเพชร 2558-2563  0.243  0.091  0.302  0.259
11       แม่น้ำท่าจีน หันคา 2558-2563  0.253  0.103  0.321  0.596
18            น่าน พิษณุโลก 2558-2563  0.370  0.189  0.435  0.484
12  แม่น้ำท่าจีน สุพรรณบุรี 2558-2563  0.351  0.190  0.436  0.216
17                น่าน น่าน 2558-2563  0.375  0.237  0.487  0.242
1      ป่าสัก3สถานี แก่งคอย 2558-2563  0.393  0.265  0.515  0.628
2       ป่าสัก3สถานี เสาไห้ 2558-2563  0.393  0.272  0.522 -0.053
5                 ยม โพทะเล 2558-2563  0.463  0.339  0.582  0.365
13      แม่น้ำท่าจีน สามชุก 2558-2563  0.514  0.419  0.647  0.319
10   แม่น้ำท่าจีน นครชัยศรี 2558-2563  0.589  0.483  0.695  0.098
0      ป่าสัก3สถานี นครหลวง 2558-2563  0.642  0.594  0.771  0.380
4                ยม สามง่าม 2558-2563  0.702  0.973  0.987  0.816
6                วัง เกาะคา 2558-2563  1.043  1.638  1.280  0.488
14            ปิง เชียงใหม่ 2558-2563  1.028  1.786  1.336  0.037
3                ยม สุโขทัย 2558-2563  1.149  2.900  1.703  0.248

MPR

                              station  degree    mae    mse   rmse     r2
9   แม่น้ำท่าจีน สองพี่น้อง 2558-2563       4  0.089  0.014  0.118  0.881
8       แม่น้ำท่าจีน บางเลน 2558-2563       3  0.094  0.016  0.125  0.829
7   แม่น้ำท่าจีน กระทุ่มแบน 2558-2563      10  0.104  0.022  0.148  0.227
16           น่าน อุตรดิตถ์ 2558-2563       3  0.176  0.056  0.237  0.397
11       แม่น้ำท่าจีน หันคา 2558-2563       5  0.186  0.058  0.240  0.774
15            ปิง กำแพงเพชร 2558-2563       4  0.206  0.063  0.251  0.489
18            น่าน พิษณุโลก 2558-2563       5  0.218  0.074  0.272  0.798
2       ป่าสัก3สถานี เสาไห้ 2558-2563       3  0.233  0.076  0.275  0.708
12  แม่น้ำท่าจีน สุพรรณบุรี 2558-2563       4  0.269  0.117  0.342  0.518
1      ป่าสัก3สถานี แก่งคอย 2558-2563       4  0.253  0.120  0.347  0.831
17                น่าน น่าน 2558-2563      10  0.278  0.126  0.356  0.596
5                 ยม โพทะเล 2558-2563       6  0.290  0.148  0.385  0.722
0      ป่าสัก3สถานี นครหลวง 2558-2563       6  0.365  0.238  0.488  0.751
13      แม่น้ำท่าจีน สามชุก 2558-2563       5  0.430  0.298  0.546  0.516
10   แม่น้ำท่าจีน นครชัยศรี 2558-2563       4  0.455  0.336  0.580  0.373
4                ยม สามง่าม 2558-2563      10  0.426  0.567  0.753  0.893
3                ยม สุโขทัย 2558-2563       5  0.572  0.976  0.988  0.747
6                วัง เกาะคา 2558-2563       6  0.719  1.016  1.008  0.683
14            ปิง เชียงใหม่ 2558-2563       8  0.750  1.210  1.100  0.347

LSTM

,station,seq_len,epochs,mae,mse,rmse,r2
7,แม่น้ำท่าจีน กระทุ่มแบน 2558-2563,3,20,0.105,0.021,0.145,0.097
8,แม่น้ำท่าจีน บางเลน 2558-2563,1,44,0.107,0.022,0.147,0.787
9,แม่น้ำท่าจีน สองพี่น้อง 2558-2563,2,51,0.236,0.079,0.281,0.386
11,แม่น้ำท่าจีน หันคา 2558-2563,3,33,0.242,0.087,0.295,0.622
16,น่าน อุตรดิตถ์ 2558-2563,3,24,0.217,0.095,0.308,0.026
15,ปิง กำแพงเพชร 2558-2563,2,11,0.250,0.107,0.328,0.068
5,ยม โพทะเล 2558-2563,2,51,0.308,0.154,0.393,0.656
18,น่าน พิษณุโลก 2558-2563,1,21,0.342,0.187,0.433,0.545
12,แม่น้ำท่าจีน สุพรรณบุรี 2558-2563,3,12,0.376,0.223,0.472,0.000
2,ป่าสัก3สถานี เสาไห้ 2558-2563,3,20,0.340,0.233,0.482,0.363
17,น่าน น่าน 2558-2563,2,30,0.387,0.246,0.496,0.232
1,ป่าสัก3สถานี แก่งคอย 2558-2563,3,14,0.374,0.252,0.502,0.651
0,ป่าสัก3สถานี นครหลวง 2558-2563,1,60,0.437,0.322,0.568,0.699
13,แม่น้ำท่าจีน สามชุก 2558-2563,3,32,0.583,0.499,0.707,0.154
10,แม่น้ำท่าจีน นครชัยศรี 2558-2563,1,21,0.579,0.530,0.728,0.021
4,ยม สามง่าม 2558-2563,1,36,0.536,0.644,0.802,0.861
6,วัง เกาะคา 2558-2563,2,69,0.831,1.053,1.026,0.677
3,ยม สุโขทัย 2558-2563,2,38,0.672,1.063,1.031,0.589
14,ปิง เชียงใหม่ 2558-2563,3,14,0.957,1.498,1.224,0.010

GRU

,station,seq_len,epochs,mae,mse,rmse,r2
7,แม่น้ำท่าจีน กระทุ่มแบน 2558-2563,3,24,0.108,0.023,0.152,0.014
8,แม่น้ำท่าจีน บางเลน 2558-2563,1,50,0.121,0.027,0.166,0.729
11,แม่น้ำท่าจีน หันคา 2558-2563,3,23,0.227,0.090,0.299,0.611
9,แม่น้ำท่าจีน สองพี่น้อง 2558-2563,2,29,0.267,0.105,0.324,0.184
15,ปิง กำแพงเพชร 2558-2563,2,26,0.252,0.105,0.324,0.086
16,น่าน อุตรดิตถ์ 2558-2563,3,59,0.225,0.164,0.405,-0.678
5,ยม โพทะเล 2558-2563,1,100,0.328,0.176,0.419,0.580
18,น่าน พิษณุโลก 2558-2563,2,23,0.344,0.185,0.430,0.549
12,แม่น้ำท่าจีน สุพรรณบุรี 2558-2563,3,19,0.364,0.225,0.474,-0.009
1,ป่าสัก3สถานี แก่งคอย 2558-2563,2,38,0.361,0.243,0.493,0.646
2,ป่าสัก3สถานี เสาไห้ 2558-2563,2,16,0.350,0.244,0.494,0.186
17,น่าน น่าน 2558-2563,2,34,0.399,0.245,0.495,0.236
0,ป่าสัก3สถานี นครหลวง 2558-2563,2,75,0.430,0.318,0.564,0.697
10,แม่น้ำท่าจีน นครชัยศรี 2558-2563,1,25,0.582,0.525,0.724,0.031
13,แม่น้ำท่าจีน สามชุก 2558-2563,3,18,0.593,0.546,0.739,0.075
4,ยม สามง่าม 2558-2563,2,63,0.536,0.742,0.861,0.847
3,ยม สุโขทัย 2558-2563,1,29,0.719,1.019,1.009,0.586
6,วัง เกาะคา 2558-2563,1,100,0.817,1.084,1.041,0.680
14,ปิง เชียงใหม่ 2558-2563,3,34,0.956,1.468,1.212,0.030

In [7]:
comps = DataFrame(comps)
comps.sort_values("avg_mse", inplace=True)
display(comps.round(3))
comps.to_csv(DATA_PATH / "result-comparison.csv", index=False)

  algorithm  avg_mae  avg_mse  avg_rmse  avg_r2
1       MPR    0.322    0.291     0.450   0.636
2      LSTM    0.415    0.385     0.546   0.392
3       GRU    0.420    0.397     0.559   0.320
0       MLR    0.480    0.561     0.622   0.357